{% extends "layouts/application.njk" %}

{% block content %}
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, quo?
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem, asperiores officia debitis sit vero sequi sint, ipsam amet est.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem, asperiores officia debitis sit vero sequi sint, ipsam amet est.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem, asperiores officia debitis sit vero sequi sint, ipsam amet est.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem, asperiores officia debitis sit vero sequi sint, ipsam amet est.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem, asperiores officia debitis sit vero sequi sint, ipsam amet est.
{% endblock %}
