@import 'gallery';

$logo-width: 200px;

#section-main {
  position: relative;

  .logo {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    width: $logo-width;

    img {
      position: relative;
      width: $logo-width;
    }

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 100%;
      transform: translateY(-50%) translateX(-50%);
      display: block;
      width: $logo-width / 1.2;
      height: $logo-width / 1.2;
      content: '';
      box-shadow: 0 0 20px 0 rgba(0,0,0,0.6);
    }
  }
}
