@import "bootstrap/bootstrap";

@import 'variables';
@import 'gallery';

html { -webkit-font-smoothing: antialiased; }

.container { height: 100%; }

.jumbotron {
  position: relative;
  padding-top: $spacer * 6;
  height: 100vh;
  background: black;

  .logo {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: $spacer * 3;
    width: $logo-width;

    img {
      position: relative;
      width: $logo-width;
    }

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 100%;
      transform: translateY(-50%) translateX(-50%);
      display: block;
      width: $logo-width / 1.2;
      height: $logo-width / 1.2;
      content: '';
      box-shadow: 0 0 20px 0 rgba(0,0,0,0.6);
    }
  }

  .caption,
  .actions { text-align: center; }

  .caption {
    text-shadow: 1px 1px 5px black;
    color: lighten($gray, 60);

    .title { color: #fff; }
  }

  .actions {
    margin-top: $spacer * 2;
  }
}

#navbar-main {
  position: absolute;
  top: 0;
  width: 100vw;
  background: transparent;

  .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
  }

  .navbar-collapse {
    margin: 0 -$spacer;
    padding: $spacer;
    background: red;
  }
}
